<h3>Create a Recommendation!</h3>

<form action="/create" method="post">
  <input type="text" name="place" value="" placeholder="Name of Place">
  <input type="text" name="type_of_place" value="" placeholder="Type of Place">
  <input type="text" name="contributor" value="" placeholder="Please enter your name">
  <input type="text" name="notes" value="" placeholder="Any notes?">
  <input type="submit" value="Add an Item">
</form>
