<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chicago Recommendations</title>

    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


  </head>
  <body>


    <section class="container">
      <article class="row">
        <div class="col-md-12">
          <h1>Chicago Recommendations</h1>
          <hr>
        </div>
      </article>
    </section>


    <section class="container">
      <article class="row">
        <div class="col-md-12">
          <%= yield %>
          <footer>Copyright &copy; 2015 Copyright Holder All Rights Reserved.</footer>
        </div>
      </article>
    </section>



  </body>
</html>
